<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Grafica</title>
<link rel="icon" type="image/png" href="../static/cubrebocas.png"/>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script><!--Esta es una libreria -->
<style type="text/css">
<!--
body {
	background-color: #fbf7ec;
}
.Estilo2 {font-size: medium}
-->
</style></head>
<body>
<center>
<canvas id="lineChart" width="900" height="400"></canvas>
<script>
 var ctx = document.getElementById("lineChart").getContext("2d");
 var lineChart = new Chart(ctx, {
   type: "bar", 
   data: { 
     labels:{{ labels | safe }}, 
     datasets: [
       { 
	    label: "Total de estudiantes", 
        data: {{ values | safe}},
        fill: false, 
        backgroundColor: 'rgba(68, 89, 100)', // Color de fondo
        borderColor: 'rgba(68, 89, 100)',
        lineTension: 0.1 
       }
	 ]
   },
    options: {
	   responsive: false
   }
 });
</script>
</center>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<center>
  <p><em><a href="/">Pagina Principal</a></em></p>
  <p>&nbsp;</p>
  <p align="left">&nbsp;</p>
  <p align="left">&nbsp;</p>
  <p align="left">&nbsp;</p>
  <p align="left">&nbsp;</p>
  <p align="left">&nbsp;</p>
  <p align="left">&nbsp;</p>
  <p align="left">&nbsp;</p>
  <p align="left">&nbsp;</p>
  <p align="left">&nbsp;</p>
  <p align="left"><span class="Estilo2"><em>(INEGI), I. (2021). Encuesta para la Medici&oacute;n del Impacto COVID-19 en la Educaci&oacute;n (ECOVID-ED) 2020. 21 September 2021, from </em><a href="https://www.inegi.org.mx/investigacion/ecovided/2020/#Tabulados"><em>https://www.inegi.org.mx/investigacion/ecovided/2020/#Tabulados</em></a></span></p>
</center>
</body>
</html>
