<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Infografia</title>
<link rel="icon" type="image/png" href="../static/cubrebocas.png"/>

<style type="text/css">
<!--
body {
	background-color: #fbf7ec;
}
-->
</style></head>

<body>
<center>
<img src="../static/InfoD.PNG" alt="Infografia">
</center>
<p></p>
<center><em><a href="/">Pagina Principal</a></em></center>
</body>
</html>
